.wrapper-input-judul {
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 0px 2px 1px 0px #DDD;
  box-sizing: border-box;
  height: 100px;
  position: relative;
  left: 50%;
  margin: -150px 0 0 -150px; 
  top: 50%;
  width: 300px;
}

.input-judul {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #555;
  box-sizing: border-box; 
  font-size: 24px;
  font-weight: bolder;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -100px;
  padding: 10px 0px;
  position: relative;
  top: 50%;
  width: 200px;

 
}


input-judul::-webkit-input-placeholder {
  color: #AAA;
} 

.input-judul:focus {
  border-bottom: 1px solid dodgerblue;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

input-judul:focus::-webkit-input-placeholder {
  color: dodgerblue;
}

.input-judul:focus+.underline {
  transform: scale(1);
}

.underline {
  background-color: dodgerblue;
  display: inline-block;
  height: 2px;
  left: 50px;
  margin-top: -4px;
  position: absolute;
  top: 185px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 0);
  -webkit-transition: all 0.5s linear; 
  width: 202px;
}