.input-judul {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #555;
  box-sizing: border-box; 
  font-size: 24px;
  font-weight: bolder;
  height: 50px;    
  width: 100%;
  padding-left: 50px;
}


input-judul::-webkit-input-placeholder {
  color: #AAA;
} 

.input-judul:focus {
  border-bottom: 2px solid #0275d8;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

input-judul:focus::-webkit-input-placeholder {
  color: dodgerblue;
}

.input-judul:focus+.underline {
  transform: scale(1);
}
 

.drop-container {
  background: rgb(245, 245, 245);
  position:relative;
  justify-content: center;
  align-items: center;   
  height: 380px;
  border-radius: 10px;
  border: 2px dashed rgb(214, 214, 214);
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover { 
  border-color: rgb(214, 214, 214);
}

.drop-container:hover .drop-title {
  color: rgb(214, 214, 214);
}

.drop-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: rgb(155, 155, 155);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;

}
.drop-title-2 {
  position: absolute; 
  bottom: 40px;  
  left: 24px;
  right: 24px;
  font-size: 13px; 
  text-align: center; 

}

.container-image-preview {
  position: relative;
  background: rgb(245, 245, 245);
  border-radius: 10px;  
  padding: 13px; 
}

.container-center{
  /* other base style */
  grid-row: 2/3;
  grid-column: 2/3;
}